.container {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: repeat(2, 1fr);
}

.title {
  background-color: var(--blue);
  font-size: var(--textSize-extralarge);
  font-weight: 800;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.image {
  height: 50vh;
}

.image img {
  width: 100%;
}

.search {
  background-color: var(--pink);
  grid-column: span 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchContent {
  width: 50%;
  height: 70%;
  margin: 0 auto;
}

.searchAction {
  display: flex;
  justify-content: space-between;
}

.searchAction input {
  background-color: white;
  width: 75%;
  height: 3vh;
  min-width: 200px;
  min-height: 20px;
  border: none;
  box-shadow: 3px;
  border-radius: 5px;
  color: black;
  font-size: var(--textSize-regular);
  padding: 0 15px;
}

.searchAction input:focus {
  outline: none;
}

.searchAction button {
  width: 20%;
  height: 3vh;
  min-width: 50px;
  min-height: 20px;
  background-color: var(--blue);
  border: none;
  color: black;
  border-radius: 5px;
  font-size: var(--textSize-regular);
}

.results {
  margin-top: 5%;
  font-size: var(--textSize-large);
}

.results ul {
  list-style-position: inside;
}

@media only screen and (max-width: 820px) {
  .container {
    min-height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .title {
    grid-row: 1;
    font-size: var(--textSize-regular);
  }

  .image {
    grid-row: 2;
    height: auto;
  }

  .image img {
    height: 100%;
  }

  .search {
    grid-row: 3;
    grid-column: span 1;
  }

  .searchAction input {
    font-size: var(--textSize-extrasmall);
  }

  .searchAction button {
    font-size: var(--textSize-extrasmall);
  }

  .searchContent {
    width: 90%;
    height: 90%;
  }

  .results {
    margin-top: 3%;
    font-size: var(--textSize-extrasmall);
  }
}
