.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 50vh minmax(50vh, auto);
}

/* TITLE - BLUE SECTION */
.title {
  grid-column: 1;
  grid-row: 1;
  background-color: var(--blue);
  font-size: var(--textSize-extralarge);
  font-weight: var(--bold);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* IMAGE */
.image {
  grid-column: 2;
  grid-row: 1;
  width: 50vw;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* SEARCH - PINK SECTION */
.search-container {
  grid-column: span 2;
  grid-row: 2;
  background-color: var(--pink);
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.searchContent {
  width: 50%;
  height: 70%;
  margin: 0 auto;
  margin-top: 4%;
}

.searchAction {
  display: flex;
  justify-content: space-between;
}

.searchAction input,
.searchAction button {
  height: 5vh;
  min-height: 25px;
}

.searchAction input {
  background-color: white;
  width: 75%;
  min-width: 180px;
  border: none;
  box-shadow: 3px;
  border-radius: 5px;
  color: black;
  font-size: var(--textSize-regular);
  padding: 0 15px;
}

.searchAction input:focus {
  outline: none;
}

.searchAction button {
  width: 20%;
  min-width: 50px;
  background-color: var(--blue);
  border: none;
  color: black;
  border-radius: 5px;
  font-size: var(--textSize-regular);
}

.searchAction button:hover {
  cursor: pointer;
  filter: brightness(0.85);
}

.results {
  margin: 5% 0;
  font-size: var(--textSize-large);
}

.results ul {
  list-style-position: inside;
}

.result-item span {
  font-weight: var(--bold);
}

@media only screen and (max-width: 1024px) {
  .searchContent {
    width: 70%;
  }
}

@media only screen and (max-width: 912px) {
  .container {
    max-width: 100vw;
    height: auto;
    min-height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr) minmax(40vh, auto);
  }

  .image {
    grid-column: 1;
    grid-row: 2;
    height: auto;
    width: 100vw;
  }

  .search-container {
    grid-row: 3;
    grid-column: 1;
  }

  .searchContent {
    width: 90%;
    height: auto;
  }

  .searchAction input,
  .searchAction button {
    height: 3vh;
  }

  .results {
    margin-top: 3%;
  }
}

@media only screen and (max-width: 767px) {
  .title {
    font-size: var(--textSize-regular);
  }

  .searchAction input,
  .searchAction button,
  .results {
    font-size: var(--textSize-extrasmall);
  }
}
